.yith_wpa_template_hidden {
  display: none;
}

.yith_wpa_add_new{
  margin-top: 20px;
  margin-left: 20px;
  background-color: #007694;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

.yith_wpa_delete_addon{
  background-color: #D6D6D6;
  border: none;
  border-radius: 4px;
  color: #6F6F6F;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  float: right;
  margin-top: 20px
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px !important;
  height: 20px;
  margin: 0 0 0 0 !important;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fe5e41;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00a878;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00a878;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.form-field {
  padding: 5px 20px 5px 162px
}

.form-field label {
  float: left;
  width: 150px;
  padding: 0;
  margin: 0 0 0 -150px;
}

.yith_wpa_input_container{
  display: block;
}

.yith_wpa_container{
  border: solid;
  border-color: #EFEFEF;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

.yith_wpa_head_arrow {
  cursor: pointer;
}

.yith_wpa_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.yith_wpa_body {
  overflow: hidden
}

#yith_wpa_field_type {
  width: 50%;
}

.yith_wpa_input_description{
  float: left;
  width: 100%;
}

.yith_wpa_name_input input {
  margin-right: 10px;
  width: 100% !important;
}

.yith_wpa_description_textarea textarea {
  width: 100% !important;
}

.yith_wpa_add_new_option {
  cursor: pointer;
  color: #5FBDFF;
  font-weight: bold;
  width: 100%;
}

span.dashicons-trash {
  cursor: pointer;
  float: left;
  margin-top: 28px;
  margin-left: 10px;
}

.yith_wpa_option_container {
  width: 100%;
  display:inline-block;
}

.yith_wpa_option_container span input, .yith_wpa_option_container span label {
  display:block;
  float: unset !important;
  margin: 0 !important;
}

.yith_wpa_option_container input {
  width: 100% !important;
  float: left !important;
  margin-right: 15px !important;
}

.yith_wpa_option_container_name {
  float: left;
  margin-right: 20px;
}

.yith_wpa_option_container_price {
  float: left;
}

.yith_wpa_variation_addons_options {
  width: 100% !important;
  padding: 0 !important;
}


