label.switch{
  position: relative;
  display: inline-block;
  width: 40px !important;
  height: 20px;
  margin: 0 0 0 0 !important;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fe5e41;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00a878;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00a878;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.yith_wpa_display_price {
  font-size: 15px;
}

.yith_wpa_onoff_description, .yith_wpa_checkbox_description {
  margin-left: 15px;
  margin-bottom: 0 !important;
}

.yith_wpa_addons_select, .yith_wpa_addons_radio, .yith_wpa_addons_checkbox, .yith_wpa_addons_onoff, .yith_wpa_addons_text, .yith_wpa_addons_textarea{
  margin-top: 0;
  margin-bottom: 40px;
  width: 100%;
}

.yith_wpa_addons_select p, .yith_wpa_addons_radio p, .yith_wpa_addons_checkbox p, .yith_wpa_addons_onoff p, .yith_wpa_addons_text p, .yith_wpa_addons_textarea p{
  margin-top: 0;
  margin-bottom: 20px;
}

.yith_wpa_addons_select h3, .yith_wpa_addons_radio h3, .yith_wpa_addons_checkbox h3, .yith_wpa_addons_onoff h3, .yith_wpa_addons_text h3, .yith_wpa_addons_textarea h3{
  margin-top: 0;
  margin-bottom: 20px;
}

.yith_wpa_display_select {
  width: 75%;
  border-style: solid !important;
  border-width: 1px !important;
}

.yith_wpa_checkbox_container {
  width: 100%;
  display: flex;
  align-items: center;
}

.yith_wpa_onoff_container {
  width: 100%;
  display: flex;
  align-items: center;
}

.yith_wpa_radio_container {
  display: inline-block;
}

.yith_wpa_addons_text input, .yith_wpa_addons_select select {
  width: 100%;
}

.yith_wpa_price_totals_container {
  background: #EEEEEE;
  margin-bottom: 25px;
}

.yith_wpa_price_totals_container h3 {
  padding: 5px 15px 0px 15px;
}

.yith_wpa_product_price, .yith_wpa_additional_options_price, .yith_wpa_total_price {
  display: flex;
  padding: 0px 15px;
}

.yith_wpa_title {
  width: 50%;
}

.yith_wpa_price_value {
  width: 50%;
  text-align: right;
  font-size: 30px !important;
}

